.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #4d00b4;
  color: white;
  height: 60px;
  font-size: 14px;
  padding: 18px 50px;
  width: 100%;
  margin-top: -60px;
}

@media (max-width: 768px) {
  .footer {
    display: block;
  }
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer-left {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  width: 33%;
}

.footer-center {
  display: inline-block;
  text-align: center;
  width: 33%;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 33%;
}

.footer-right-help {
  width: 40%;
  display: inline-block;
}

.footer-right-help-text {
  display: inline-block;
  padding-right: 10px;
}

.footer-right-help-icon {
  width: 18px;
  position: relative;
}

@media (max-width: 1130px) {
  .footer-right-help {
    width: 100%;
  }
}

.footer-right-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-right-icons a {
  padding-right: 10px;
}

@media (max-width: 1130px) {
  .footer-right-icons {
    display: flex;
  }
}

@media (max-width: 858px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: auto;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
  }

  .footer-right-help {
    padding-bottom: 10px;
  }

  .footer-right {
    flex-wrap: wrap;
  }
}
