.footer {
  background: var(--header-background);
  color: white;
  height: 60px;
  font-size: 14px;
  padding: 18px 25px;
  width: 100%;
  margin-top: -60px;

  @media (max-width: 768px) {
    display: none;
  }

  a {
    color: white;
    text-decoration: none;
  }

  &-left {
    display: inline-block;
    text-align: left;
    width: 33%;
  }
  &-center {
    display: inline-block;
    text-align: center;
    width: 33%;
  }
  &-right {
    display: inline-block;
    width: 33%;
    padding-left: 10%;

    &-help {
      width: 40%;
      display: inline-block;

      &-text {
        display: inline-block;
        padding-right: 10px;
      }

      &-icon {
        width: 18px;
        position: relative;
        top: 4px;
      }

      @media (max-width: 1130px) {
        width: 100%;
      }
    }

    &-icons {
      display: inline-block;
      width: 60%;
      position: relative;
      top: 3px;
      a {
        padding-right: 10px;
      }

      @media (max-width: 1130px) {
        display: none;
      }
    }
  }
}
